.wrapper {
  background: linear-gradient(228deg, #c88686, #5960c3);
  background-size: 400% 400%;

  -webkit-animation: gradient-background 7s ease infinite;
  -moz-animation: gradient-background 7s ease infinite;
  animation: gradient-background 7s ease infinite;
  height: 100vh;
  color: white;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@-webkit-keyframes gradient-background {
  0% {
    background-position: 7% 0%;
  }
  50% {
    background-position: 94% 100%;
  }
  100% {
    background-position: 7% 0%;
  }
}
@-moz-keyframes gradient-background {
  0% {
    background-position: 7% 0%;
  }
  50% {
    background-position: 94% 100%;
  }
  100% {
    background-position: 7% 0%;
  }
}
@keyframes gradient-background {
  0% {
    background-position: 7% 0%;
  }
  50% {
    background-position: 94% 100%;
  }
  100% {
    background-position: 7% 0%;
  }
}

p {
  font-size: 1.5rem;
}

h1 {
}
